@media screen and (max-width: 768px) {
    h1 {
        color: lime;
        text-align: center;
        font-size: 100%;
    }
    h1:hover {
        color: red;
    }
    .nav-link {
        color: lime;
        float: none;
    }
    .nav-link:hover {
        color: #007bff;
    }
    btn {
        font-size: 50%;
    }
    /* #mybutton {
        width: 100px;
        float: left;
        height: 28px;
        padding: 0 2px;
        margin: 1px;
    }
    #mainbutton {
        width: 100px;
    } */
    .footer {
        display: none;
    }
    #content {
        background-color: lightyellow;
    }
}


/* For Mobile Phones */
/* @media (max-width:480px){} */

/* For Tablets */
/* @media (max-width:960px){} */

/* For Laptops/Desktop */
/* @media (min-width:1025px){} */