h1, h2 {
    color: red;
    font-weight: bold;
    text-align: center;
}
h1:hover {
    color: lime;
}
#content {
    background-color: lightyellow;
    width: 100%;
}

.footer {
    position: absolute;
    bottom:0;
    background-color: #eee;
    width: 100%;
    line-height: 40px;
    height: 50px;
    text-align: center;
}
.container {
    padding-top: 7px;
}
/* .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 60px;
    background-color: #eee;
    font-weight: 800; 
} */
.text-muted:hover {
    color: blue!important;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    float: left;
}
a:hover {
    color: lime;
    font-weight: bold;
}


thead {
    background-color: darkgrey;
    color: navy;
    text-align: center;
}
table td {
    vertical-align: middle;
    text-align: center;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    vertical-align: middle;
}

#mybutton1, #mybutton2, #mybutton3 {
    font-size: smaller;
    width: 80px;
    height: 28px;
    padding: 0 2px;
    margin: 1px;
}
#mybutton3 {
    width: 100%;
}
#mainbutton {
    font-size: smaller;
    width: 100%;
}
p {
    margin: 2px 40px;
    padding: 10px 20px;
    border: inset;
    border-color: #428BCA;
    background-color: lightyellow;
    font-weight: bold;
}
p:hover {
    background-color: lime;
}
